@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");


body{
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url(img/backgroundImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    }


    main {
      margin: 80px;
      align-items: center;
      display: flex;
      min-height: 80vh;
      justify-content: center;
      position: relative;
      }

    main > section {
      
      margin: 20px;
      align-items: center;
      font-family: "Abel", "Lato", sans-serif;
      font-size: 25px;
      font-weight: bold;
      text-align: center;
      text-shadow: 10px 5px 10px rgba(236, 35, 236, 0.973); 
      color: white;
      
    }
    
    main > section img {
      margin: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      height: 300px;
      background: rgba(204, 0, 255, 0.37);
      box-shadow: 20px 10px 22px 20px rgba(204, 0, 255, 0.37);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 100%;
      border: 5px solid rgba(204, 0, 255, 0.37);
      width: 100%;
      height: auto;
      
    }

        .cabecalho {
          margin: 0;
          font-family: "Abel", "Lato", sans-serif;
          font-size: 50px;
          font-weight: bold;
          text-align: center;
          text-shadow: 10px -5px 10px rgba(255, 1, 221, 0.904); 
          color: #ffffff;
          
        }
      
